<h1>Eat-A-Burger!</h1>

<img src="/assets/img/burger.png">

<div class="burgers">
    <div class="burgerDiv" id="eatBurger">
    <h2>Hungry? Pick a burger:</h2>
        <ul>
        {{#each burgers}}
            {{#unless devoured}}
                <div>
                    <li>
                        {{burger_name}}
                        <button type="submit" data-id="{{id}}" class='burgerAvailable'>EAT IT</button>
                    </li>
                </div>
            {{/unless}}
        {{/each}}
        </ul>
    </div>

    <div class="burgerDiv" id="eatenBurger">
    <h2>You ate this burger:</h2>
        {{#each burgers}}
            {{#if devoured}}
                <div class='burgerEaten'>
                    <div>
                        <li>
                            {{burger_name}}
                        </li>
                    </div>
                </div>
            {{/if}}
        {{/each}}
    </div>
</div>

<div id="burger-form">
<h3>Add a Burger</h3>
<form class="create-form">

  <div class="form-group">
    <label for="burg">Burger Name:</label>
    <input type="text" id="burg" name="name">
  </div>

  <button type="submit">Add Burger</button>
</form>
</div>